body {
  background-color: white;
  text-align: center;
  font-family: "Times New Roman", serif;
  margin-top: 30px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.container {
  margin-top: 30px;
}

input {
  width: 500px;
  height: 25px;
  font-size: 1em;
  margin-bottom: 20px;
  text-align: center;
}

#alertDiv {
  background-color: #cc0000; /* Red */
  color: white;
  width: 240px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

#alertDiv:hover {
  background-color: #a00000;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 30px;
}
